<h1>The Many Faces of Edward Toro</h1>

<%= image_tag "edtoro_thumb.jpeg" %>
<br>
<div="emotion">
<%=  render 'emotion'  %>
<br>
<div class="btn btn-default">
    
<%= link_to 'Back', class: "btn btn-primary" %>

</div>
